{{ ansible_managed | comment }}

# The top of the directory tree under which the server's configuration, error, and log files are kept.
# Do NOT add a slash at the end of the directory path.
ServerRoot "/etc/apache2"

# The accept serialization lock file MUST BE STORED ON A LOCAL DISK.
# This directive should normally be left at its default value.
#Mutex file:${APACHE_LOCK_DIR} default

# The directory where shm and other runtime files will be stored.
DefaultRuntimeDir ${APACHE_RUN_DIR}

# The file in which the server should record its process identification number when it starts.
PidFile ${APACHE_PID_FILE}

# The number of seconds before receives and sends time out.
Timeout 300

# Whether or not to allow persistent connections (more than one request per connection).
KeepAlive On

# The maximum number of requests to allow during a persistent connection.
# Leave this number high, for maximum performance.
MaxKeepAliveRequests 100

# Number of seconds to wait for the next request from the same client on the same connection.
KeepAliveTimeout 5

# The name (or #number) of the user/group to run httpd as.
User ${APACHE_RUN_USER}
Group ${APACHE_RUN_GROUP}

# Log the names of clients or just their IP addresses e.g., www.apache.org (on) or 204.62.129.132 (off).
# Enabling this means that each client request will result in AT LEAST one lookup request to the nameserver.
HostnameLookups Off

# The location of the default error log file.
ErrorLog ${APACHE_LOG_DIR}/error.log

# Control the severity of messages logged to the error_log.
# Available values: trace8, ..., trace1, debug, info, notice, warn, error, crit, alert, emerg.
LogLevel warn

# mpm_event configuration.
LoadModule mpm_event_module /usr/lib/apache2/modules/mod_mpm_event.so
StartServers {{ apache_server__mpm_event_start_servers }}
MinSpareThreads {{ apache_server__mpm_event_min_spare_threads }}
MaxSpareThreads {{ apache_server__mpm_event_max_spare_threads }}
ThreadLimit	{{ apache_server__mpm_event_thread_limit }}
ThreadsPerChild {{ apache_server__mpm_event_threads_per_child }}
MaxRequestWorkers {{ apache_server__mpm_event_max_request_workers }}
MaxConnectionsPerChild {{ apache_server__mpm_event_max_connections_per_child }}

# modules configuration
LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
LoadModule authz_host_module /usr/lib/apache2/modules/mod_authz_host.so
{% if apache_server__alias_module_enabled %}
LoadModule alias_module /usr/lib/apache2/modules/mod_alias.so
{% endif %}
{% if apache_server__authz_user_module_enabled %}
LoadModule authz_user_module /usr/lib/apache2/modules/mod_authz_user.so
{% endif %}
{% if apache_server__authn_file_module_enabled or apache_server__auth_basic_module_enabled %}
LoadModule authn_core_module /usr/lib/apache2/modules/mod_authn_core.so
{% endif %}
{% if apache_server__authn_file_module_enabled %}
LoadModule authn_file_module /usr/lib/apache2/modules/mod_authn_file.so
{% endif %}
{% if apache_server__auth_basic_module_enabled %}
LoadModule auth_basic_module /usr/lib/apache2/modules/mod_auth_basic.so
{% endif %}
{% if apache_server__filter_module_enabled or apache_server__deflate_module_enabled %}
LoadModule filter_module /usr/lib/apache2/modules/mod_filter.so
{% endif %}
{% if apache_server__deflate_module_enabled %}
LoadModule deflate_module /usr/lib/apache2/modules/mod_deflate.so
{% endif %}

{% if apache_server__deflate_module_enabled %}
# deflate_module default configuration
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript
AddOutputFilterByType DEFLATE application/x-javascript application/javascript application/ecmascript
AddOutputFilterByType DEFLATE application/xml application/json
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/wasm

{% endif %}
# List of ports to listen on
{% for binding in apache_server__bindings %}
{% for port in binding.ports %}
Listen {{ binding.ip }}:{{ port }}
{% endfor %}
{% endfor %}

# Sets the default security model of the Apache2 HTTPD server.
# Disable access to the entire file system except for the directories that are explicitly allowed later.
<Directory />
  Options FollowSymLinks
  AllowOverride None
  Require all denied
</Directory>

# The name of the file to look for in each directory for additional configuration directives.
AccessFileName .htaccess

# Prevents .htaccess and .htpasswd files from being viewed by Web clients.
<FilesMatch "^\.ht">
  Require all denied
</FilesMatch>

# The following directives define some format nicknames for use with a CustomLog directive.
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" vhost_combined
LogFormat "%h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %O" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent

# Include generic snippets of statements
IncludeOptional conf-enabled/*.conf

# Include the virtual host configurations
IncludeOptional sites-enabled/*.conf
