{{ ansible_managed | comment('c') }}

// Controls which packages are upgraded.
Unattended-Upgrade::Origins-Pattern {
  "o=Debian,a=stable,l=Debian-Security";
};

// Python regular expressions, matching packages to exclude from upgrading.
Unattended-Upgrade::Package-Blacklist {
  "linux-";
};

// Control if on an unclean dpkg exit unattended-upgrades will automatically run dpkg --force-confold --configure -a
// The default is true, to ensure updates keep getting installed
Unattended-Upgrade::AutoFixInterruptedDpkg "true";

// Split the upgrade into the smallest possible chunks so that they can be interrupted with SIGTERM.
// This makes the upgrade a bit slower but it has the benefit that shutdown while an upgrade is running is possible.
Unattended-Upgrade::MinimalSteps "true";

// Install all updates when the machine is shutting down instead of doing it in the background while the machine is running.
Unattended-Upgrade::InstallOnShutdown "false";

// Send email to this address for problems or packages upgrades.
// A package that provides 'mailx' must be installed.
Unattended-Upgrade::Mail "root";

// Always get emails.
Unattended-Upgrade::MailOnlyOnError "false";

// Remove unused automatically installed kernel-related packages or unused dependencies after the upgrade.
Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
Unattended-Upgrade::Remove-New-Unused-Dependencies "true";
Unattended-Upgrade::Remove-Unused-Dependencies "true";

// Automatically reboot *WITHOUT CONFIRMATION* if the file /var/run/reboot-required is found after the upgrade.
Unattended-Upgrade::Automatic-Reboot "false";
Unattended-Upgrade::Automatic-Reboot-WithUsers "true";
