{{ ansible_managed | comment }}

# IPv6 auto-configuration is causing issues on Kimsufi server. See https://docs.ovh.com/fr/dedicated/network-ipv6/.
net.ipv6.conf.all.autoconf = 0
net.ipv6.conf.all.accept_ra = 0
