# {{ ansible_managed }}

# See https://www.postfix.org/postconf.5.html.

# Main parameters
# Configure postfix as a null client (https://www.postfix.org/STANDARD_CONFIGURATION_README.html#null_client),
# e.g. a machine that can only send mail.
myhostname = {{ postfix_satellite__myhostname }}
myorigin = /etc/mailname
relayhost = {{ postfix_satellite__relay_host }}
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
inet_interfaces = loopback-only
inet_protocols = all
mydestination =
local_recipient_maps =
local_transport = error:local delivery is disabled

# outbound relay configurations
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd
smtp_sasl_security_options = noanonymous
smtp_tls_security_level = may
header_size_limit = 4096000

# Lookup tables
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
smtp_generic_maps = hash:/etc/postfix/generic

# TLS parameters
smtpd_tls_cert_file = {{ postfix_satellite__tls_cert }}
smtpd_tls_key_file = {{ postfix_satellite__tls_key }}
smtp_tls_CApath=/etc/ssl/certs
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# Misc
append_dot_mydomain = yes
biff = no
compatibility_level = 2
mailbox_size_limit = 0
readme_directory = no
recipient_delimiter = +
smtpd_banner = $myhostname ESMTP $mail_name (Debian/GNU)
smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
