[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
ansible = "~=7.6"
ansible-lint = "~=6.17"
yamllint = "~=1.32"
jmespath = "~=1.0"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.9"
