[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=2.10"
ansible-lint = "~=4.3"
yamllint = "~=1.25"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.7"
