[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
ansible = "~=7.2"
ansible-lint = "~=6.14"
yamllint = "~=1.29"
jmespath = "~=1.0"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.9"
