{{ ansible_managed | comment }}

<VirtualHost *:80>
  ServerAdmin webmaster@localhost

  LogLevel warn
  ErrorLog ${APACHE_LOG_DIR}/default-error.log
  CustomLog ${APACHE_LOG_DIR}/default-access.log vhost_combined

  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
</VirtualHost>
