{{ ansible_managed | comment }}

<VirtualHost _default_:443>
  ServerAdmin webmaster@localhost
  DocumentRoot /var/www/html

  LogLevel warn
  ErrorLog ${APACHE_LOG_DIR}/default-error.log
  CustomLog ${APACHE_LOG_DIR}/default-access.log vhost_combined

  SSLEngine on
  SSLCertificateFile	/etc/letsencrypt/live/marcwrobel.fr/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/marcwrobel.fr/privkey.pem

  <Directory />
    Require all granted
  </Directory>
</VirtualHost>
