# {{ ansible_managed }}

<VirtualHost _default_:443>
  ServerAdmin webmaster@localhost

  LogLevel warn
  ErrorLog ${APACHE_LOG_DIR}/default-error.log
  CustomLog ${APACHE_LOG_DIR}/default-access.log vhost_combined

  SSLEngine on
  SSLCertificateFile	{{ apache_server__default_vhost_ssl_certificate_file }}
  SSLCertificateKeyFile {{ apache_server__default_vhost_ssl_certificate_key_file }}

  RewriteEngine On
  RewriteRule ^/.* {{ apache_server__default_vhost_redirect_target }} [R=permanent,L]
</VirtualHost>
