{{ ansible_managed | comment }}

# The top of the directory tree under which the server's configuration, error, and log files are kept.
# Do NOT add a slash at the end of the directory path.
# See https://httpd.apache.org/docs/2.4/mod/core.html#serverroot.
ServerRoot "/etc/apache2"

# The directory where shm and other runtime files will be stored.
# https://httpd.apache.org/docs/2.4/mod/core.html#defaultruntimedir.
DefaultRuntimeDir ${APACHE_RUN_DIR}

# The file in which the server should record its process identification number when it starts.
PidFile ${APACHE_PID_FILE}

# The name (or #number) of the user/group to run httpd as.
User ${APACHE_RUN_USER}
Group ${APACHE_RUN_GROUP}

# The number of seconds before receives and sends time out.
# See https://httpd.apache.org/docs/2.4/mod/core.html#timeout.
Timeout 300

# Allow persistent connections (more than one request per connection).
# See https://httpd.apache.org/docs/2.4/mod/core.html#keepalive,
# https://httpd.apache.org/docs/2.4/mod/core.html#keepalivetimeout
# and https://httpd.apache.org/docs/2.4/mod/core.html#maxkeepaliverequests.
KeepAlive On
KeepAliveTimeout 5
MaxKeepAliveRequests 100

# Don't reveal versions in 'Server' HTTP response header.
# See https://httpd.apache.org/docs/2.4/mod/core.html#servertokens.
ServerTokens Prod

# Don't add footer on server-generated documents.
# See https://httpd.apache.org/docs/2.4/mod/core.html#serversignature.
ServerSignature Off

# Disable the TRACE method.
# See https://httpd.apache.org/docs/2.4/mod/core.html#traceenable.
TraceEnable Off

Include logging.conf
Include ports.conf
Include mpm_event.conf
Include http2.conf
Include ssl.conf
Include mime.conf
Include headers.conf
Include default_access.conf
Include optional_modules.conf

# Include the virtual host configurations
IncludeOptional sites-enabled/*.conf
