# {{ ansible_managed }}

# Apache Module mod_http2 configuration (https://httpd.apache.org/docs/2.4/mod/mod_http2.html)

LoadModule http2_module /usr/lib/apache2/modules/mod_http2.so

# Allows :
# - HTTP/2 negotiation (h2) via TLS ALPN for secure <VirtualHost>.
# - HTTP/2 cleartext negotiation (h2c) upgrading from an initial HTTP/1.1 connection or via HTTP/2
#   preamble checking.
Protocols h2 h2c http/1.1
